body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #5c5c5c;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 17px;
    color: #222;
    
}

table {
    width: 100%;
}

nav {
    float: left;
    width: 25%;
    height: 550px;
    background: #ccc;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav div {
        padding: 20px;
    }


    nav h3 {
        margin-top: 30px;
        margin-bottom: 5px;
    }

article {
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    height: 550px;
}

    article div {
        padding: 5px 20px;
    }

table th {
    color: #444;
}

table, td, th {
    border: 1px solid gray;
}

footer {
    background-color: #5c5c5c;
    padding-bottom: 6px;
    text-align: center;
    color: white;
    clear: both;
}

    footer p {
        padding-top: 20px;
    }

.content-container {
    width: 90%;
    overflow: hidden;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

    .content-container .portions-div {
        width: 45%;
        float: left;
    }

.y-video {
    border: none !important;
}

.img-style {
    width: 100%;
    padding-right: 10px;
    float: left;
    display: inline-block;
}

audio {
    width: 100%;
}

.clear-div {
    clear: both;
}

.name-heading {
    color: white;
}

.canvas-style {
    border: 1px solid #999;
}
.hide-text{
    display:none 
}

    /*-----------------------------------*/
    /*-----------------13----------------*/
    /*-----------------------------------*/

#container{
    background-color: gainsboro;
    width: 100%;
    height: 1000%;
}
h2{
    text-align: center;
    color: brown;
    margin: 0 auto;
}
p{
    padding: 10px;
}
h4{
    margin: 0px 10px;
    text-decoration-line: underline;
    color: cadetblue;
}
footer{
    background-color: black;
}

#imgGhant{
    width: 50%;
    
}

#vid{
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}